<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DbExporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DbExporter.Properties.Settings>
            <setting name="DbPath" serializeAs="String">
                <value />
            </setting>
            <setting name="XmlPath" serializeAs="String">
                <value>C:\Export</value>
            </setting>
            <setting name="DbType" serializeAs="String">
                <value>Spife4000</value>
            </setting>
        </DbExporter.Properties.Settings>
    </userSettings>
</configuration>